/* fontonly.css-fonts.roblox.com.css */

/* ==== FONTS ==== */

@font-face {
    font-family: "GothamSSm";
    font-weight: 300;
    src: url("fonts.roblox.com/gotham/GothamSSm-Light.woff2") format("woff2");
}
@font-face {
    font-family: "GothamSSm";
    font-weight: 400;
    src: url("fonts.roblox.com/gotham/GothamSSm-Medium.woff2") format("woff2");
}
@font-face {
    font-family: "GothamSSm";
    font-weight: 500;
    src: url("fonts.roblox.com/gotham/GothamSSm-Medium.woff2") format("woff2");
}
@font-face {
    font-family: "GothamSSm";
    font-weight: 600;
    src: url("fonts.roblox.com/gotham/GothamSSm-Medium.woff2") format("woff2");
}
@font-face {
    font-family: "GothamSSm";
    font-weight: 700;
    src: url("fonts.roblox.com/gotham/GothamSSm-Medium.woff2") format("woff2");
}
@font-face {
    font-family: "GothamSSm";
    font-weight: 900;
    src: url("fonts.roblox.com/gotham/GothamSSm-Light.woff2") format("woff2");
}

* {
    font-family: "GothamSSm", Arial, sans-serif !important;
}